includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
  level: 8
  paths:
    - src
    - packages
    - tests
  excludePaths:
    analyse:
      - local-blackcat-core
      - local-blackcat-database-crypto
  bootstrapFiles:
    - phpstan.bootstrap.php
  stubFiles:
    - phpstan/stubs/blackcat-core.stub.php
    - phpstan/stubs/generic-crud-repo.stub.php
  tmpDir: var/phpstan
  reportUnmatchedIgnoredErrors: true
  tipsOfTheDay: false
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
