\
    <?php
    declare(strict_types=1);

    namespace {{Namespace}};

    use BlackCat\Database\Actions\GenericCrudService;

    final class {{Name}}Service extends GenericCrudService
    {
        public function __construct(\BlackCat\Core\Database $db, {{Name}}Repository $repo)
        {
            parent::__construct($db, $repo, 'id', null, 'table-{{name}}');
        }
    }
